<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE beans PUBLIC  "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd"> 
<beans>

   <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property  name="driverClassName" ><value>com.mysql.jdbc.Driver</value></property>
	<property  name="url" ><value>jdbc:mysql://localhost:3306/springhbdb</value></property>
	<property  name="username"><value>root</value></property>
	<property  name="password"><value>admin</value></property>
   </bean>
     
    <bean id="mysqlDs" class="com.easylearn.DatasourceImpl">
		<property name="dsource"><ref bean="datasource"/></property>
    </bean>
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
    
</beans>